#children {
	width: 100%;
	height: 2550px;
	overflow: hidden;
	background-color: #000;
	background-position: 50% 0;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

#children.day {	background-image: url(../img/najmlodsi/dzien.jpg); }
#children.night { background-image: url(../img/najmlodsi/noc.jpg); }

	#children h2 {
		color: #fff;
		width: 960px;
		margin: .5em auto;
	}

	.ticks, .children-menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.children-menu {
		font-family: "Open Sans Condensed", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 600; font-style: normal;
		min-width: 960px;
		max-width: 1260px;
		width: 100%;
		height: 307px;
		padding-top: 33px;
		background: url(../img/najmlodsi/menu_bg.png) no-repeat;
		margin: 16px auto 0;
		text-transform: uppercase;
	}

		.children-menu li {
			font-size: 1.38em;
			display: block;
			background-repeat: no-repeat;
			margin: -18px 0 0 -24px;
			width: 236px;
			height: 59px;
		}

			.children-menu li a {
				background: url(../img/najmlodsi/menu_tick.png) no-repeat 44px 17px;
				display: block;
				color: #fff;
				text-decoration: none;
				width: 176px;
				height: 34px;
				padding: 10px 0px 15px 60px;
			}

		.children-menu .item1:hover, .children-menu .item1.active { background-image: url(../img/najmlodsi/menu_item_1.png); }
		.children-menu .item2:hover, .children-menu .item2.active { background-image: url(../img/najmlodsi/menu_item_2.png); }
		.children-menu .item3:hover, .children-menu .item3.active { background-image: url(../img/najmlodsi/menu_item_3.png); }
		.children-menu .item4:hover, .children-menu .item4.active { background-image: url(../img/najmlodsi/menu_item_4.png); }
		.children-menu .item5:hover, .children-menu .item5.active { background-image: url(../img/najmlodsi/menu_item_5.png); }
		.children-menu .item6:hover, .children-menu .item6.active { background-image: url(../img/najmlodsi/menu_item_6.png); }
		.children-menu .item7:hover, .children-menu .item7.active { background-image: url(../img/najmlodsi/menu_item_7.png); }

	.ticks {
		position: absolute;
		top: 0;
		left: 50%;
	}

		.ticks li {
			position: absolute;
			display: block;
		}

			.ticks li a {
				display: block;
				width: 97px;
				height: 108px;
				background: url(../img/najmlodsi/tick.png) no-repeat;
				overflow: hidden;
				text-indent: -999px;
			}

		.ticks .item1 {	left: 0; top: 500px; }
		.ticks .item2 {	left: -300px; top: 715px; }
		.ticks .item3 {	left: 215px; top: 715px; }
		.ticks .item4 {	left: 150px; top: 930px; }
		.ticks .item5 {	left: 210px; top: 1145px; }
		.ticks .item6 {	left: -355px; top: 1145px; }
		.ticks .item7 {	left: -175px; top: 1380px; }

.modal-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .15);
	z-index: 10000;
	top: 0;
	left: 0;
}

	.modal {
		width: 730px;
		min-height: 300px;
		position: absolute;
		top: 20%;
		left: 50%;
		margin: 0 0 0 -365px;
		background-color: #fff;

		-webkit-border-radius:	4px;
		-moz-border-radius:		4px;
		-o-border-radius:		4px;
		-ms-border-radius:		4px;
		border-radius:			4px;
	}

		.modal-close {
			background: url(../img/najmlodsi/btn_exit.png) no-repeat;
			display: block;
			width: 25px;
			height: 26px;
			position: absolute;
			top: 10px;
			right: 10px;
			overflow: hidden;
			text-indent: -999px;
			cursor: pointer;
		}

		.children-modal-content {
			width: 730px;
			padding-bottom: 20px;
		}

			.children-modal-content h3 {
				margin: .5em 13px;
				padding: 0 0 .2em 104px;
				border-bottom: 1px dashed #BCBDC0;
				width: 600px;
			}

			.children-carousel-container {
				width: 704px;
				margin: 0 13px;
				border-bottom: 1px dashed #BCBDC0;
				padding-bottom: 20px;
				position: relative;
			}

				.children-carousel {
					width: 600px;
					height: 200px;
					overflow: hidden;
					margin: 0 auto;
					position: relative;
				}

					.children-carousel ul {
						padding: 0;
						margin: 0;
						list-style: none;
					}

						.children-carousel li {
							float: left;
							display: block;
							width: 600px;
							height: 200px;
						}

			.children-carousel-container .carousel-arrow {
				width: 45px;
				height: 44px;
				margin: -22px 0 0 0;
			}

			.children-carousel-container .next-arrow {
				right: 0;
				background: url(../img/najmlodsi/carousel-arrows.png) -45px 0 no-repeat;
			}

			.children-carousel-container .previous-arrow {
				left: 0;
				background: url(../img/najmlodsi/carousel-arrows.png) 0 0 no-repeat;
			}

.children-products a {
	display: block;
	width: 200px;
	height: 200px;
	float: left;
	text-align: center;
}

.children-descriptions {
	background-color: #54adda;
	width: 704px;
	margin: 10px 13px 0;
	padding: 0;
	list-style: none;
}

	.children-descriptions li {
		width: 664px;
		padding: 0 20px;
		display: none;
		overflow: hidden;
	}

		.children-descriptions h4 {
			color: #fff;
			font-size: 2.92em;
			margin: .3em 0;
		}

		.children-descriptions p {
			color: #fff;
			font-size: 1.08em;
			font-style: italic;
		}