/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: 0; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== text styles =====================================================
   Author: Jakub Korzeniowski, Przemysław Ożóg
   ========================================================================== */

@font-face { font-family: AkzidenzGroteskCondensed; src: url('../font/font-condensed.otf'); }
@font-face { font-family: AkzidenzGrotesk; src: url('../font/font.otf'); }
@font-face { font-family: AkzidenzGroteskMediumCondensed; src: url('../font/font-medium-condensed.otf'); } 

h1, h2, h3, h4, h5 {
  /*font-family: "ProximaNovaExtraCondensedThin", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;*/
  font-family: "AkzidenzGroteskCondensed", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;
  text-transform: uppercase;
}

h1, .main-page h2, .about-page h2  {
  font-size: 4.62em;
}

h2 {
  font-size: 3.08em;
}


h3 {
  font-size: 2.78em;
}

h4 {
  
}

h5 {
  font-size: 2.31em; 
}

p {
  font-size: 1.08em;
}

/* ==|== primary styles =====================================================
   Author: Jakub Korzeniowski, Przemysław Ożóg
   ========================================================================== */

html, body {
  height: 100%;
  width: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
  background-color: #2f2f2f;
  color: #8c8c8c;
  font-family: Georgia, "Times New Roman", Times, serif;
}


/**
 * Header styles
**/

header {
  background-color: #000;
  /*font-family: "ProximaNovaExtraCondensedThin", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;*/
  font-family: "AkzidenzGroteskCondensed", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;
  position: relative;
  z-index: 100;

  -webkit-box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.55);
  -moz-box-shadow:    -1px 1px 6px rgba(0, 0, 0, 0.55);
  box-shadow:         -1px 1px 6px rgba(0, 0, 0, 0.55);
}
  
input[type="text"] {
  border: 0 none;
  background: url(../img/input-bg.png) no-repeat;
  padding: 5px 2px 5px 30px;
  color: #b6b6b6;
  width: 137px;
  float: left;
  
  /*
  -webkit-box-shadow: inset -1px 1px 6px rgba(0, 0, 0, 0.55);
  -moz-box-shadow:    inset -1px 1px 6px rgba(0, 0, 0, 0.55);
  box-shadow:         inset -1px 1px 6px rgba(0, 0, 0, 0.55);
  */
}
  
  
  #main-menu {
    margin: 0 auto;
    width: 960px;
  }

    #logo {
      background-image: url(../img/logo.png);
      float: left;
      height: 66px;
      width: 61px;
    }

    #main-menu ul {
      float: left;
      margin: 0 3.85em 0 5.77em;
    }

      #main-menu li {
        float: left;
        padding: 2.5em 1.2em 1.2em;
      }

        #main-menu li a {
          color: #fff;
          font-size: 1.23em;
          text-decoration: none;
        }

        li .submenu {
          display: none;
          position: absolute;
        }

        .no-touch li:hover > .submenu, li.hover > .submenu {
          display: block;
        }

        .submenu-carousel {
          height: 100%;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
          width: 960px;  
        }

          .submenu-carousel .list-wrapper {
            height: 100%;
            overflow: hidden;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
          }

        .tiled-submenu {
          background-color: #fff;
          height: 540px;
          left: 0;
          top: 100%;
          width: 100%;

          -webkit-box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.15);
          -moz-box-shadow:    -1px 1px 8px rgba(0, 0, 0, 0.15);
          box-shadow:         -1px 1px 8px rgba(0, 0, 0, 0.15);
        }

          #main-menu .tiled-submenu ul, #main-menu .tiled-submenu li {
            margin: 0;
            padding: 0;
          }

          #main-menu .tiled-submenu ul {
            float: none;
            height: 100%;
          }

          #main-menu .tiled-submenu li {
            float: left;
            height: 100%;
            width: 960px;
          }

          .tiled-submenu .tiles-container {
            height: 100%;
          }

            .tiled-submenu .tiles-container h5 {
              background-color: #dcddde;
              font-size: 1.87em;
              margin: 0;
              padding: .5em 0 .2em;
              text-align: center;
            }
            
            .tiles-container .tile {
              border-bottom: 1px dashed #bcbdc0;
              float: left;
              text-transform: uppercase;
            }

            .no-touch .tiles-container .tile:hover {
              background-color: #f1f2f2;
            }

              .tiles-container .tile img {
                width: 100%;
              }

            .tiles-container.five-in-row .tile {
              padding: 17px 16px 0;
              width: 160px;
            }

            .tiles-container.six-in-row .tile {
              padding: 17px 10px 0;
              width: 140px;
            }

              .tiled-submenu a .tile figcaption {
                color: #8c8c8c;
                font-size: 1.3em;
                margin: .2em 0 0 0;
                text-align: center;
              }

/**
 * Main styles
**/

#main {
  background-color: #fff;
}
.main-page #main, .about-page #main {
  background-color: #F1F2F2;
}

  .top-border {
    border-top: 1px dashed #bcbdc0;
    margin: 40px auto 0;
    padding: 40px 0;
  }
  
  

  .top-border+.top-border{
	 margin-top: 0;	 
   } 
   .top-border:last-child {
   	 margin-bottom: 40px;
   }

  #top-content {
    color: #fff;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .about-page #top-content{
  	height: 540px;
  }
  .carousel-container ul {
    margin: 0;
    padding: 0;
  }

    #top-content h2 {
      font-size: 5.54em;
      margin: 1em 0;
    }

    #top-content p {
      font-size: 1.38em;
      font-style: italic;
      margin: 8.5em .2em;
      width: 200px;
    }

    .carousel-bg {
      left: 50%;
      margin: 0 0 0 -700px;
      min-height: 540px;
      min-width: 1400px;
      position: absolute;
      width: 100%;
    }

    .no-js .carousel-controls {
      display: none;
    }

    .carousel-controls {
      margin: 0 auto;
      width: 1000px
    }

      .carousel-controls li {
        display: block;
        float: left;
        margin: 0 20px;
        padding: 20px 0 0 0;
        position: relative;
        width: 160px;
      }

      .carousel-controls li.active:after {
        background: url(../img/carousel-tip.png) no-repeat;
        bottom: 100%;
        content: '';
        display: block;
        height: 11px;
        left: 50%;
        margin: 0 0 0 -12px;
        position: absolute;
        width: 25px;
      }

        .carousel-controls li img {
          border: 1px solid #c5c5c5;
          width: 100%;
        }

    .carousel-arrow {
      background-image: url(../img/carousel-arrows.png);
      background-repeat: none;
      display: block;
      height: 81px;
      margin: -40px 0 0 0;
      position: absolute;
      text-align: left;
      text-indent: -9999px;
      top: 50%;
      width: 81px;
    }

    #top-content .carousel-arrow {
      top: 270px;
    }

    .carousel-arrow.disabled {
      cursor: default;
      opacity: .3;
    }

    .previous-arrow {
      background-position: 0 0;
      left: 56px;
    }

    .next-arrow {
      background-position: -81px 0;
      right: 56px;
    }

    .no-js .carousel-arrow {
      display: none;
    }

    .carousel {
      height: 540px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

      .carousel .list-wrapper {
        height: 100%;
        left: 50%;
        margin: 0 0 0 -480px;
        position: absolute;
        top: 0;
        width: 100%;
      }

        .carousel ul {
          height: 100%;
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 0;
        }

          .carousel li {
            float: left;
            height: 100%;
            width: 960px;
          }

            .carousel-item {
              height: 100%;
              position: relative;
              width: 100%;
            }

              .carousel-layer {
                left: 0;
                position: absolute;
                top: 0;
              }

   .top-container {
      height: 100%;
      margin: 70px auto 0;
      overflow: hidden;
      position: relative;
      width: 960px;
    }
    #top-lead {
    	margin: 0 0 40px;
    	position: relative;
    }
    .top-container-nav{
		position: relative;
	}
	.top-container-nav .dotted-border{
		position: absolute;
	    border-bottom: 1px dashed #727577;
	    height: 60px;
	    width: 100%;
	}
	.top-container-nav .top-container-col{
		float: left;
		width: 200px;
		padding: 0 40px 0 0;
		color: #999DA0
	}
	.top-container-nav .active {
		color: #ffffff;
	}
	.top-container-nav .top-container-col h3{
		margin:0;
	}
	#top-content .top-container-nav .top-container-col p {
		margin: 40px 0 0 0;
		font-size: 1.18em;
	}

	#top-content .top-container h1{
		color: #999DA0;
		margin: 0;
		font-size: 3em;
		line-height: 1em;
	}
	
	#top-content .top-container h2{
		margin: 0;
		font-size: 5.8em;
	}
	
	.top-container-nav .nav-arrow {
		text-align: center;
	}
	
	.top-container-nav .nav-arrow {
		background: transparent url(../img/top-container-arrows.png) no-repeat top left;
		width: 26px;
		height: 25px;
		margin: 30px auto;
		cursor: pointer;
	}
	
	.top-container-nav .active .nav-arrow {
		background-position: 0 -25px;
	}
	.top-container-nav .active .nav-arrow .fold{
		display: inline;	
	}
	.top-container-nav .nav-arrow .fold{
		display: none;	
	}
	
	.top-container-nav .active .nav-arrow .expand{
		display: none;			
	}
	.top-container-nav .nav-arrow .expand{
		display: inline;	
	}
	
	
	.main-container {
		margin: -260px 0 0 0;
		position: relative;
	}
	
	.main-container-nav{
		margin: 0;
		padding: 0;
		margin: 0 0 40px;
	}
	
	.main-container-nav li{
		float: left;
	    list-style: none outside none;
	    width: 130px;
	    color: #999DA0;
	}
	.main-container-nav li.active {
		color: #ffffff;
	}
	.main-container-nav li a{
		color: inherit;
		text-decoration: none;		
	}
	.main-container-nav li h3{
		margin: 0;		
	}
	
	.main-container h2{
		color: #ffffff;
		margin: 0;
		line-height: 0.98em;
	}

  #main-content {
    margin: 40px auto 0;
    width: 960px;
    position: relative;
  }

    .info-box {
      background-color: #dcddde;
      padding: 40px 37px;
    }
	
	.desserts .info-box {
      width: 416px;
      float: left;
       
    }
    
    
    .main-page .info-box {
       width: 386px;
       min-height: 135px;
       padding-bottom: 21px;
    }
    
    .info-box h1,.info-box h2 {
		line-height: 0.8em;    
    }
    .info-box h1{
		margin: 0 0 0.5em;
    }
    .info-box h2{
		margin: 0 0 0.2em;
    }
    .info-box h1+ h2{
		margin: 0 0 0.5em;
    }
    .main-page .info-box p {
    	font-style: italic;
    	margin-top: 0; 
    }
    .desserts .info-box p {
    	font-style: italic;
    }
    .products .info-box{
    	position: relative;
    }
    .products .info-box p{
    	position: absolute;
    	font-style: italic;
    	bottom: 40px;
    	right: 37px;
    	width: 280px;
    	font-size: 1.1em;
    	margin: 0;
    }
    
    
    .main-box {
	  margin-bottom: 0px;		  	  
	}
	
	.main-boxes .main-box{
		float: left;
	}
	.main-boxes .main-box:nth-child(even){
		float: right;
	}
	.main-boxes .main-box:nth-child(-n+2) {
	  margin-bottom: 42px;		  	  
	}
	.main-boxes .main-box a.more-button{
		width: 201px;
	}

    a.more-button {
      border: 1px solid #6b6d6e;
      color: #fff;
      /*font-family: "ProximaNovaExtraCondensedThin", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;*/
      font-family: "AkzidenzGrotesk", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;
      font-size: 1.08em;
      line-height: 1.9em;
      padding: 4px 54px 4px 27px;
      position: relative;
      text-decoration: none;

      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 31%, rgba(93,90,91,0) 45%, rgba(35,31,32,0.33) 50%, rgba(35,31,32,1) 60%, rgba(35,31,32,1) 100%) #37383b; /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(31%,rgba(255,255,255,0)), color-stop(45%,rgba(93,90,91,0)), color-stop(50%,rgba(35,31,32,0.33)), color-stop(60%,rgba(35,31,32,1)), color-stop(100%,rgba(35,31,32,1))) #37383b; /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(93,90,91,0) 45%,rgba(35,31,32,0.33) 50%,rgba(35,31,32,1) 60%,rgba(35,31,32,1) 100%) #37383b; /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(93,90,91,0) 45%,rgba(35,31,32,0.33) 50%,rgba(35,31,32,1) 60%,rgba(35,31,32,1) 100%) #37383b; /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(93,90,91,0) 45%,rgba(35,31,32,0.33) 50%,rgba(35,31,32,1) 60%,rgba(35,31,32,1) 100%) #37383b; /* IE10+ */
      background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(93,90,91,0) 45%,rgba(35,31,32,0.33) 50%,rgba(35,31,32,1) 60%,rgba(35,31,32,1) 100%) #37383b; /* W3C */
      background-color: #37383b\0/IE8+9;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#231f20',GradientType=0 ); /* IE6-9 */
    }

    .no-touch a.more-button:hover {
      background: -moz-linear-gradient(top,  rgba(35,31,32,1) 0%, rgba(35,31,32,1) 40%, rgba(35,31,32,0.4) 49%, rgba(101,98,99,0) 55%, rgba(255,255,255,0) 69%, rgba(255,255,255,0) 100%) #37383b; /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,31,32,1)), color-stop(40%,rgba(35,31,32,1)), color-stop(49%,rgba(35,31,32,0.4)), color-stop(55%,rgba(101,98,99,0)), color-stop(69%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))) #37383b; /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(35,31,32,1) 0%,rgba(35,31,32,1) 40%,rgba(35,31,32,0.4) 49%,rgba(101,98,99,0) 55%,rgba(255,255,255,0) 69%,rgba(255,255,255,0) 100%) #37383b; /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(35,31,32,1) 0%,rgba(35,31,32,1) 40%,rgba(35,31,32,0.4) 49%,rgba(101,98,99,0) 55%,rgba(255,255,255,0) 69%,rgba(255,255,255,0) 100%) #37383b; /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(35,31,32,1) 0%,rgba(35,31,32,1) 40%,rgba(35,31,32,0.4) 49%,rgba(101,98,99,0) 55%,rgba(255,255,255,0) 69%,rgba(255,255,255,0) 100%) #37383b; /* IE10+ */
      background: linear-gradient(top,  rgba(35,31,32,1) 0%,rgba(35,31,32,1) 40%,rgba(35,31,32,0.4) 49%,rgba(101,98,99,0) 55%,rgba(255,255,255,0) 69%,rgba(255,255,255,0) 100%) #37383b; /* W3C */
      background-color: #37383b\0/IE8+9;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231f20', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }

    a.more-button:after {
      background: url(../img/more-button.png) no-repeat;
      content: '';
      display: block;
      height: 24px;
      position: absolute;
      right: 0;
      top: 0;
      width: 32px;
    }

    .teaching-aids {
      
    }

      .heading{
        text-align: center;
      }

        .heading h3 {
          display: inline;
          font-size: 4.62em;
          margin: 0 0 1em;
          position: relative;
        }

          .heading h3:before, .heading h3:after {
            background: url(../img/heading-dots.png);
            content: '';
            display: block;
            font-size: 3em;
            height: 8px;
            line-height: 0;
            position: absolute;
            width: 36px;
            top: 50%;
          }

          .heading h3:before {
            right: 100%;
            margin: -11px 15px 0 0;
          }

          .heading h3:after {
            left: 100%;
            margin: -11px 0 0 15px;
          }

      .teaching-aids ul.menu {
        list-style: none;
        margin: 0;
        padding: 13px 0 27px;
      }

        .teaching-aids .menu li {
          display: block;
          float: left;
          /*font-family: "ProximaNovaExtraCondensedThin", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;*/
          font-family: "AkzidenzGroteskCondensed", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;
          padding: 10px;
          text-transform: uppercase;
          width: 300px;
        }
        
          .teaching-aids .menu li a {
            background-image: url(../img/teaching-aids-icons.png);
            background-repeat: no-repeat;
            color: #a09fa0;
            display: block;
            font-size: 1.85em;
            height: 25px;
            margin: 0 auto;
            padding: 145px 0 0 0;
            text-align: center;
            text-decoration: none;
            width: 200px;
          }

          .teaching-aids .menu li a.nutrition-facts-button { background-position: 0 0; }
          .no-touch .teaching-aids .menu li a.nutrition-facts-button:hover, .teaching-aids .menu li a.nutrition-facts-button.active { background-position: 0 -250px; }
          .teaching-aids .menu li a.ballanced-choise-button { background-position: -200px 0; }
          .no-touch .teaching-aids .menu li a.ballanced-choise-button:hover, .teaching-aids .menu li a.ballanced-choise-button.active { background-position: -200px -250px; }
          .teaching-aids .menu li a.price-list-button { background-position: -400px 0; }
          .no-touch .teaching-aids .menu li a.price-list-button:hover, .teaching-aids .menu li a.price-list-button.active { background-position: -400px -250px; }

      .nutrition-facts {
        background-color: #2f2f2f;
        color: #fff;
        /*font-family: "ProximaNovaExtraCondensedThin", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;*/
        font-family: "AkzidenzGroteskMediumCondensed", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;       
        overflow: hidden;
        padding: 40px 45px;
        position: relative;
      }

	  .press-room {	  	
	  	text-align: center;	  	
	  }
	  .press-room p{
	  	font-style: italic;
	  	font-size: 1.36em;
	  	text-align: left;	  	
	  }
	
	  .press-room .date {
	  	color: #8C1622;
	  	font-size: 1.27em;
	  	text-align: center;	  	
	  }
	  
	  .press-room .short {
	  	width: 420px;
	  	margin-left: auto;
	  	margin-right: auto;
	  }

	  .press-room img{
	  	margin: 23px 0 40px;
	  }

      .no-js .nutrition-facts {
        display: block;
      }

        .close-button {
          background-image: url(../img/close-button.png);
          background-repeat: no-repeat;
          height: 12px;
          position: absolute;
          right: 17px;
          top: 40px;
          width: 11px;
        }

        .nutrition-box {
          float: left;
          width: 145px;
        }

        .legend {
          padding: 0 20px;
          width: 105px;
        }

          .nutrition-box span {
            display: block;
          }

          .nutrition-box .label {
            background-image: url(../img/nutrition-facts-icons.png);
            background-repeat: no-repeat;
            font-size: 1.38em;
            line-height: 1.6em;
            padding: 0 0 0 30px;
            text-transform: uppercase;
          }

          .legend .label {
            background-position: 100% 0px;
            padding: 0 30px 0 0;
            text-align: right;
          }
          .calories .label { background-position: 0 -50px; }
          .proteins .label { background-position: 0 -100px; }
          .fats .label { background-position: 0 -150px; }
          .carbohydrates .label { background-position: 0 -200px; }
          .salt .label { background-position: 0 -250px; }

          .nutrition-box .value {
            font-size: 4.62em;
            line-height: 1em;
            margin: .2em 0 .07em;
          }

          .nutrition-box .percent {
            float: left;
            font-size: 2.08em;
          }

          .nutrition-box .percent-bar-container {
            background-color: #fff;
            height: 19px;
            margin: 10px 0 0 50px;
            position: relative;
            width: 70px;
          }

          .nutrition-box .percent-bar-container:after {
            border-left: 1px dashed #2f2f2e;
            border-right: 1px dashed #2f2f2e;
            content: '';
            display: block;
            height: 100%;
            left: 35%;
            position: absolute;
            top: 0;
            width: 0;
            z-index: 2;
          }

          .no-js .nutrition-box .percent-bar-container {
            display: none;
          }

            .nutrition-box .percent-bar {
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 0;
              z-index: 1;
            }

            .calories .percent-bar { background-color: #d23c7a; }
            .proteins .percent-bar { background-color: #d73b2c; }
            .fats .percent-bar { background-color: #f19e39; }
            .carbohydrates .percent-bar { background-color: #71a542; }
            .salt .percent-bar { background-color: #4fa7dd; }


          .legend .percent {
            margin: 2.82em 0 0;
            text-align: right;
            width: 100%;
          }


	.big-photo{
		float: right;
		background-repeat: no-repeat;
		background-position: right bottom;
		height: 510px;
    	width: 430px;
	}
	
	.desserts .thumbnails {
		float: left;
		width: 515px;
		cursor: pointer;
		margin: 40px 0 20px -13px;
	}
	.desserts .thumbAdjustWidth {
		width: 540px;
		margin: 40px 0 20px -25px;
	}
	
	.desserts .thumb7col {
		width: 1060px;
	}
	.product .thumbnails {
		margin: 0px 0 20px -13px;
	}
	.product .big-prd, .product .thumbnails .tile .desc{
		display: none;
	}
	
	.thumbnails .tile .big {
		display: none;
	}
	
	.thumbnails .tile {
		float: left;
		background-repeat: no-repeat;
		background-position: left bottom;
		margin-top: 20px;
	}
	.thumbnails+.thumbnails{
		margin-top: 0px;
	}
	.thumb3col .tile  {
		width: 165px;
		height: 125px;
		background-position: right bottom;
		margin-top: 0;
	}
	.product .thumb3col .tile{
		background-position: left bottom;
		width: 200px;
	}
	.product .thumb4col .tile{
		width: 150px;
	}
	.thumb4col .tile  {
		width: 125px;
		height: 125px;
	}
	.thumb5col .tile  {
		width: 100px;
		height: 145px;
	}
	.thumb7col .tile  {
		width: 150px;
		height: 145px;
	}
	.thumbAdjustWidth .tile{
		height: 125px;
	}
		
	.thumbnails .tile .thumb {
		position: relative;
		bottom: 0;
		left: 0;
	}
	
	.product {
		background-position: right bottom;
		background-repeat: no-repeat;
		margin: 40px 0;
	}
	
	
/**
 * Footer styles
**/

footer {
  
}

  #footer-menu {
    margin: 0 auto;
    width: 960px;
  }

    .footer-box {
      float: left;
      width: 320px;
    }

      .footer-box h5 {
        border-bottom: 1px dashed #444444;
        margin: 2.2em 0 .6em;
        padding: .4em 80px;
        position: relative;
      }

      .footer-box h5:after {
        background-image: url(../img/footer-headers.png);
        background-repeat: none;
        content: '';
        display: block;
        height: 36px;
        left: 26px;
        position: absolute;
        top: 12px;
        width: 54px;
      }

      .products h5:after { background-position: 0 0; }
      .discounts h5:after { background-position: -54px 0; }
      .about-us h5:after { background-position: -108px 0; }

      .footer-box ul {
        margin: 0 0 3em 0;
        padding: 0 80px;
      }

        .footer-box li {
          /*font-family: "ProximaNovaExtraCondensedThin", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;*/
          font-family: "AkzidenzGroteskCondensed", 'Arial Narrow', Arial, Helvetica, sans-serif; font-size-adjust: 0.488; font-weight: 100; font-style: normal;
          text-transform: uppercase;  
        }

          .footer-box li a {
            color: #8c8c8c;
            font-size: 1.38em;
            text-decoration: none;
          }


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1400px) {
  /* Style adjustments for viewports 1400px and below go here */

  .carousel-bg {
    margin: 0 0 0 -50%;
  }

}

@media only screen and (max-width: 768px) {
  /* Style adjustments for viewports 768px and below go here */

}

@media only screen and (max-width: 480px) {
  /* Style adjustments for viewports 480px and below go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
